/*************** Application Layout ***************/
.application-toolbar {
    background-color: orange;
}

.application-content {
    background-color: orangered;
}

.application-footer {
    background-color: red;
}