@use 'sass:map';
@import 'src/styles/variables.scss';
/****************** Layout ******************/
.login-prompt-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    flex: 1 1 0;
    background-image: linear-gradient(90deg, #b224ef 0%, #7579ff 100%);

    @media screen and (max-width: 800px) {
        flex: 0 0 0;
    }

    .title {
        color: white;
        padding: 0.25rem 2rem;
        margin: 0;
        width: 100%;
        text-align: left;
        font-weight: 700;
        font-size: 48px;
    }

    .subtitle {
        color: rgba(255, 255, 255, 0.9);
        padding: 0.5rem 2rem;
        margin: 0;
        width: 100%;
        text-align: left;
        font-weight: 400;
        font-size: 24px;
    }
}