@use 'sass:map';
@import 'src/styles/variables.scss';
/****************** Layout ******************/

.card-text-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;

    .card-text-options-button-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: space-around;

        button {
            margin-left: 1rem;
        }
    }
}