@use 'sass:map';
/****** App Style Global Configuration ******/
@import './variables.scss';

/*** Font Customization ***/
@import url('https://rsms.me/inter/inter.css');
$body-font-family: 'Inter';
$title-font: 'Inter';

/**************** General ******************/
html {
    overflow-y: auto !important;
    font-family: 'Inter', Helvetica, 'Segoe UI', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: absolute;
    width: 100%;
    overflow-y: hidden;
    top: 0;
    bottom: 0;
    background-color: rgb(247, 247, 247);
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0,0,0,0);
    border-radius: 100px;
}
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(127,127,127,0.75);
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61);
    border-radius: 100px;
}

.layout {
    height: 100%;
    background: map.get($theme-color, "background-primary");
}

/********** Library ***************/
/**** Button ****/
.button {
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-family: 'Inter';
    font-weight: 500;
    transition: all 0.5s ease;
}

.button:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.button.dark {
    border: 1px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.11);
    color: white;
    transition: all 0.5s ease;
}

.button.dark:hover {
    border: 1px rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.18);
    color: white;
}

/********** Shadows ***************/
.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);    
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/*********** Helpers ****************/
/*** Horizontal margins ****/
.mx-1 {
    margin: 0 0.25rem
}

.mx-2 {
    margin: 0 0.5rem
}

.mx-3 {
    margin: 0 0.75rem
}

.mx-4 {
    margin: 0 1rem
}

/************ Colors *****************/
.text-red {
    color: map.get($theme-color, "red")
}