@use 'sass:map';
/****** App Style Global Configuration ******/
@import './variables.scss';

/*** Font Customization ***/
@import url('https://rsms.me/inter/inter.css');
$body-font-family: 'Inter';
$title-font: 'Inter';

/**************** General ******************/
html {
    font-family: 'Inter', Helvetica, 'Segoe UI', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgb(247, 247, 247);
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0,0,0,0);
    border-radius: 100px;
}
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(127,127,127,0.75);
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61);
    border-radius: 100px;
}

.layout {
    height: 100%;
    background: map.get($theme-color, "background-primary");
}

/********** Library ***************/
/**** Button ****/
.button {
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-family: 'Inter';
    font-weight: 500;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.button:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.button:active {
    opacity: 0.5;
}

.button.light {
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.91);
    color: rgba(0,0,0,0.82);
    transition: all 0.5s ease;
}

.button.light:hover {
    border: 1px solid rgba(255, 255, 255, 0.97);
    background: rgba(255, 255, 255, 1);
    color: black;
    transition: all 0.5s ease;
}

/********** Inputs *****************/
.input {
    outline: 0;
    border: 0;
    border-radius: 0 5px 5px 5px;
    padding: 1rem 1rem;
    width: calc(100% - 2rem);
    margin: 0.5rem 0.5rem 1.5rem 0rem;
    font-family: 'Inter';
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    font-size: 16px;
    position: relative; 
    z-index: 10;
}

.label {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem 0.25rem 1rem;
    margin-bottom: -0.5rem;
    border-radius: 5px 5px 0 0px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
    background: white;
    font-weight: 600;
}

/********** Shadows ***************/
.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);    
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xl {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/*********** Helpers ****************/
/*** Horizontal margins ****/
.mx-1 {
    margin: 0 0.25rem
}

.mx-2 {
    margin: 0 0.5rem
}

.mx-3 {
    margin: 0 0.75rem
}

.mx-4 {
    margin: 0 1rem
}
/***** Right Margins *********/
.mr-2 {
    margin-right: 0.5rem;
}

/************ Colors *****************/
/********* Text ********/
.text-red {
    color: map.get($theme-color, "red")
}

.text-shadow-md {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.14),
                0px 8px 13px rgba(0,0,0,0.02),
                0px 18px 23px rgba(0,0,0,0.02);
}

/************** Font *****************/
/********* Size ***********/
/**** Button content ****/
.large-button-text {
    font-size: 20px;
    border-radius: 15px;
    padding: 0.5rem 2rem;
}