@use 'sass:map';
@import 'src/styles/variables.scss';
/****************** Layout ******************/
.footer-layout {
    padding: 0.5rem 2rem;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    
    .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        color: black;
        opacity: 1;
        font-size: 14px;
        font-weight: 700;
    }
}