@use 'sass:map';
@import 'src/styles/variables.scss';
/****************** Layout ******************/
.toolbar-layout {
    padding: 1rem 1rem;
    min-height: 38px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 1rem;

        .logo-layout {
            display: flex;
            padding: 0.5rem 0rem;
            border-radius: 5px 5px 5px 5px;
            margin: -1rem 0;
            .logo {
                width: 32px;
                margin-right: 1rem;
                filter: hue-rotate(250deg);
            }
            .title {
                font-weight: 600;
                font-size: 26px;
                letter-spacing: 3px;
                color: rgba(0,0,0, 0.8);
            }
        }
    }
}